@import "../core/variables";

.container {
  .postList {
    .postListItem {
      margin-bottom: 1.5rem;

      &:last-of-type {
        margin-bottom: 0;
      }

      a {
        text-decoration: none;

        &:hover {
          color: $white-color;
        }

        h2 {
          color: $secondary-color;
        }
      }

      & > p {
        font-size: 0.9rem;
        margin: 0.5rem 0 0;
        text-align: right;
        text-transform: capitalize;
      }
    }
  }
}

.postContainer {
  width: 100%;

  & > p:first-of-type {
    text-transform: capitalize;
  }

  & code {
    font-family: 'Ubuntu Mono', monospace;
    background-color: $secondary-color;
    border-radius: 3px;
    color: $black-color;
    padding: 0.3rem;
  }

  & img {
    width: 100%;
    border-radius: 0.6rem;
  }

  & div:last-of-type {
    margin-top: 2.25rem;
    border-top: dotted 1px $white-color;
    padding-top: 2.25rem;
  }
}
