@import "../../core/variables";

.container {
  border-left: solid 1px $white-color;
  display: grid;
  grid-gap: 0.625rem;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto auto;
  margin-bottom: 1.25rem;
  padding-left: 1.25rem;

  &.workInfoSingle {
    grid-gap: 0;
  }

  & p {
    margin: 0;
  }

  & .name {
    grid-column: 1 / span 2;
    grid-row: 1;
    font-weight: bold;
  }

  & .buildTo {
    grid-column: 1;
    grid-row: 2;
  }

  & .date {
    grid-column: 2;
    grid-row: 2;
  }
}