@import "../../core/variables";

$padding: 2.5rem;

*::-webkit-scrollbar {
  opacity: 0;
  width: 0;
}

body {
  color: $white-color;
  overflow: hidden;
  scroll-behavior: smooth;

  & a {
    color: $white-color;
    transition: color $duration $easing;

    &:visited {
      color: $white-color;
    }

    &:hover, &:active {
      color: $primary-color;
    }
  }
}


.container {
  display: grid;
  grid-column-gap: 4.25rem;
  grid-template-columns: 24px 1fr auto;
  grid-template-rows: 24px 1fr auto 24px;
  height: 100vh;
  overflow: hidden;
  padding: $padding;
  width: 100vw;
  background-position: center;
  background-size: cover;
  background-image: url("https://firebasestorage.googleapis.com/v0/b/killoblanco-61e6e.appspot.com/o/assets%2Fbg%2Fbg.png?alt=media&token=d4b154b1-8bee-4ffa-82ba-a11793073d5c");

  &.fadeToWhite {
    background-image: url("https://firebasestorage.googleapis.com/v0/b/killoblanco-61e6e.appspot.com/o/assets%2Fbg%2Fbg-black.png?alt=media&token=9ab040ea-d983-4810-a504-c00d0263f60f");
  }

  &.fadeToPurple {
    background-image: url("https://firebasestorage.googleapis.com/v0/b/killoblanco-61e6e.appspot.com/o/assets%2Fbg%2Fbg-purple.png?alt=media&token=b6724511-5182-4267-ada4-0d69b63cd096");
  }

  &.fadeToRed {
    background-image: url("https://firebasestorage.googleapis.com/v0/b/killoblanco-61e6e.appspot.com/o/assets%2Fbg%2Fbg-red.png?alt=media&token=c7f186b5-262a-4802-95b9-c57212766c8b");
  }

  & .translation {
    grid-column: 1;
    grid-row: 1;
  }

  & .menu {
    grid-column: 1;
    grid-row: 2 / span 3;
    align-self: center;
  }

  & .content {
    display: flex;
    grid-column: 2;
    grid-row: 1 / span 3;
    height: 100%;
    overflow-y: auto;
    max-width: $phone-bp;
  }

  & .copy {
    grid-column: 1 /span 3;
    grid-row: 4;
    text-align: right;
  }
}

@media (max-width: $phone-bp) {
  .container {
    grid-row-gap: 1.25rem;
    grid-column-gap: 0;
    grid-template-columns: 24px 1fr auto;
    padding: $padding / 2;

    & .menu {
      grid-column: 1 / span 3;
      grid-row: 4;
    }

    & .content {
      display: flex;
      grid-column: 1 / span 3;
      grid-row: 2;
      height: 100%;
      overflow-y: auto;
    }

    & .copy {
      grid-column: 3;
      grid-row: 1;
      text-align: right;
    }
  }
}
