.container {
  max-width: 29rem;
  align-self: center;

  & p {
    line-height: 1.5;
  }

  & nav {
    display: flex;
    height: 1.5rem;
    margin-top: 1.875rem;

    & a {
      width: 1.5rem;
      margin-right: 1.875rem;
    }
  }
}