@import "../../core/variables";

$margin-bottom: 1.875rem;
$svg-size: 1.5rem;

.container {
  display: flex;
  flex-direction: column;

  & > svg {
    margin-bottom: $margin-bottom;
    height: $svg-size;
    color: $primary-color;
    width: $svg-size;
  }

  & > a {
    height: $svg-size;
    margin-bottom: $margin-bottom;
    width: $svg-size;
  }
}

@media screen and (max-width: $phone-bp) {
  .container {
    flex-direction: row;
    justify-content: center;

    & > * {
      margin-right: $margin-bottom;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}
